.FaqList {
  max-width: 1500px;
  margin: 20px auto;
  list-style: none;
}
.Question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  cursor: pointer;
}
.Question p {
  color: #1d3354;
  font-size: 18px;
  font-weight: 700;
}
.FaqList li {
  border-radius: 9px;
  background-color: #e8ebee;
  border: 1px solid #b9c0ca;
  margin-bottom: 10px;
}

.Answer {
  padding: 20px 20px;
  background-color: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  min-height: 100px;
}

.Answer p {
  color: #4a5c76;
  font-weight: 400;
  font-size: 16px;
}
